<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Syncfusion.Licensing" version="18.1.0.46" targetFramework="net461" />
  <package id="Syncfusion.Shared.WPF" version="18.1.0.46" targetFramework="net461" />
  <package id="Syncfusion.Tools.WPF" version="18.1.0.46" targetFramework="net461" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net461" />
</packages>